In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [4]:
match

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [7]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [11]:
# 1. Prepare match data with the winner
match_subset = match[['id', 'city', 'winner', 'target_runs']].rename(columns={'id': 'match_id'})

# 2. Merge and filter for the 2nd innings chase
delivery_df = delivery.merge(match_subset, on='match_id')
delivery_df = delivery_df[delivery_df['inning'] == 2]

# 3. Calculate Current Runs (Cumulative)
delivery_df['current_runs'] = delivery_df.groupby('match_id')['total_runs'].cumsum()

# 4. Calculate Runs Left
delivery_df['runs_left'] = delivery_df['target_runs'] - delivery_df['current_runs']

# 5. Handle Extra Deliveries for Balls Left
# Only count legal balls (exclude wides and no-balls)
delivery_df['is_legal_ball'] = ~delivery_df['extras_type'].isin(['wides', 'noballs'])
delivery_df['balls_bowled'] = delivery_df.groupby('match_id')['is_legal_ball'].cumsum()
delivery_df['balls_left'] = 120 - delivery_df['balls_bowled']

# 6. Calculate Wickets Left
delivery_df['wickets_fallen'] = delivery_df.groupby('match_id')['is_wicket'].cumsum()
delivery_df['wickets_left'] = 10 - delivery_df['wickets_fallen']

# 7. Calculate Run Rates
delivery_df['crr'] = (delivery_df['current_runs'] * 6) / (120 - delivery_df['balls_left'] + 0.001)
delivery_df['rrr'] = (delivery_df['runs_left'] * 6) / (delivery_df['balls_left'] + 0.001)

# 8. Define the Result (The Label)
# If the team currently batting is the one who won the match, result = 1
def result_check(row):
    return 1 if row['batting_team'] == row['winner'] else 0

delivery_df['result'] = delivery_df.apply(result_check, axis=1)

# 9. Final Feature Set
final_df = delivery_df[['batting_team', 'bowling_team', 'city', 'current_runs', 
                        'runs_left', 'balls_left', 'wickets_left', 'target_runs', 
                        'crr', 'rrr', 'result']]

final_df.head()

,batting_team,bowling_team,city,current_runs,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,1,222.0,119,10,223.0,5.994006,11.193183,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,2,221.0,119,10,223.0,11.988012,11.142764,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,2,221.0,118,10,223.0,5.997001,11.237193,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,3,220.0,117,10,223.0,5.998001,11.281955,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,4,219.0,116,10,223.0,5.998500,11.327489,0

In [13]:
# Current 10 Active Teams
active_teams = [
    'Sunrisers Hyderabad', 'Mumbai Indians', 'Royal Challengers Bengaluru',
    'Kolkata Knight Riders', 'Punjab Kings', 'Chennai Super Kings',
    'Rajasthan Royals', 'Delhi Capitals', 'Gujarat Titans', 'Lucknow Super Giants'
]

# Mapping old names to new ones
team_mapping = {
    'Delhi Daredevils': 'Delhi Capitals',
    'Kings XI Punjab': 'Punjab Kings',
    'Deccan Chargers': 'Sunrisers Hyderabad',
    'Royal Challengers Bangalore': 'Royal Challengers Bengaluru'
}

# Apply mapping to batting and bowling teams directly in final_df
final_df.replace({'batting_team': team_mapping, 'bowling_team': team_mapping}, inplace=True)

# Filter final_df to keep only active teams
final_df = final_df[final_df['batting_team'].isin(active_teams) & final_df['bowling_team'].isin(active_teams)].copy()

# Final cleanup for city names (dropping rows where city is missing)
final_df.dropna(inplace=True)

In [14]:
final_df

,batting_team,bowling_team,city,current_runs,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
124,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,1,222.0,119,10,223.0,5.994006,11.193183,0
125,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,2,221.0,119,10,223.0,11.988012,11.142764,0
126,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,2,221.0,118,10,223.0,5.997001,11.237193,0
127,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,3,220.0,117,10,223.0,5.998001,11.281955,0
128,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,4,219.0,116,10,223.0,5.998500,11.327489,0
...,...,...,...,...,...,...,...,...,...,...,...
260915,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,110,4.0,61,8,114.0,11.186251,0.393436,1
260916,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,111,3.0,60,8,114.0,11.099815,0.299995,1
260917,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,112,2.0,59,8,114.0,11.016213,0.203386,1
260918,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,113,1.0,58,8,114.0,10.935307,0.103446,1
260919,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,114,0.0,57,8,114.0,10.856971,0.000000,1

In [15]:
print("Unique Batting Teams:")
print(final_df['batting_team'].unique())

Unique Batting Teams:
['Royal Challengers Bengaluru' 'Punjab Kings' 'Delhi Capitals'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Sunrisers Hyderabad' 'Gujarat Titans'
 'Lucknow Super Giants']

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Features (X) and Target (y)
X = final_df.drop(columns=['result'])
y = final_df['result']

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocessing: OneHotEncoding for categorical columns
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

# Define Models
models = {
    "Logistic Regression": LogisticRegression(solver='liblinear'),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(n_estimators=100)
}

# Run the test
for name, model in models.items():
    pipe = Pipeline([
        ('step1', trf),
        ('step2', model)
    ])
    
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    
    print(f"{name} Accuracy: {accuracy_score(y_test, y_pred):.2%}")

C:\Users\phala\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\svm\_base.py:1249: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Logistic Regression Accuracy: 76.47%
Decision Tree Accuracy: 98.80%
Random Forest Accuracy: 99.80%

In [19]:
pipe_lr = Pipeline([
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear',max_iter=1000))
])
pipe_lr.fit(X_train, y_train)
pipe_rf = Pipeline([
    ('step1', trf),
    ('step2', RandomForestClassifier(n_estimators=100))
])
pipe_rf.fit(X_train, y_train)

# Randomly picking one row from test data
sample_row = X_test.sample(1)

print("Actual Result:", y_test.loc[sample_row.index].values[0])
print("LR Win Probability:", pipe_lr.predict_proba(sample_row)[0][1])
print("RF Win Probability:", pipe_rf.predict_proba(sample_row)[0][1])

Actual Result: 1
LR Win Probability: 0.9858274717059713
RF Win Probability: 1.0

In [20]:
def get_progression_table(match_id, delivery_df, model):
    # 1. Filter for the specific match and 2nd innings chase
    match_data = delivery_df[(delivery_df['match_id'] == match_id) & (delivery_df['inning'] == 2)]
    
    # 2. Get the state of the game at the end of every over
    # We take the last ball of each over (over 1, 2, 3... 20)
    over_summary = match_data.groupby('over').tail(1).copy()
    
    # 3. Predict Win/Loss Probability using your model
    # Note: Column names must match your 'final_df' features exactly
    features = over_summary[['batting_team', 'bowling_team', 'city', 'current_runs', 
                             'runs_left', 'balls_left', 'wickets_left', 'target_runs', 'crr', 'rrr']]
    
    probabilities = model.predict_proba(features)
    
    # 4. Construct the final table as seen in your reference
    over_summary['lose'] = (probabilities[:, 0] * 100).round(1)
    over_summary['win'] = (probabilities[:, 1] * 100).round(1)
    
    # Rename 'over' to 'end_of_over' for clarity
    over_summary.rename(columns={'over': 'end_of_over'}, inplace=True)
    
    # Calculate runs and wickets specifically in THAT over
    over_summary['runs_after_over'] = over_summary['current_runs']
    over_summary['wickets_in_over'] = over_summary['wickets_left'].diff().fillna(0).abs().astype(int)
    
    return over_summary[['end_of_over', 'runs_after_over', 'wickets_in_over', 'lose', 'win']]

# Example Usage:
# display(get_progression_table(match_id_value, pipe_lr, delivery_df))

In [22]:
def get_progression_table(match_id, delivery_df, model):
    # 1. Filter for the match
    match_data = delivery_df[(delivery_df['match_id'] == match_id) & (delivery_df['inning'] == 2)].copy()
    
    # 2. CRITICAL FIX: Re-apply your mapping to handle the "Unknown Categories" error
    team_mapping = {
        'Delhi Daredevils': 'Delhi Capitals',
        'Kings XI Punjab': 'Punjab Kings',
        'Deccan Chargers': 'Sunrisers Hyderabad',
        'Royal Challengers Bangalore': 'Royal Challengers Bengaluru'
    }
    match_data['batting_team'] = match_data['batting_team'].replace(team_mapping)
    match_data['bowling_team'] = match_data['bowling_team'].replace(team_mapping)
    
    # 3. Get the state at the end of every over
    over_summary = match_data.groupby('over').tail(1).copy()
    
    # 4. Predict (The rest of your code remains the same)
    features = over_summary[['batting_team', 'bowling_team', 'city', 'current_runs', 
                             'runs_left', 'balls_left', 'wickets_left', 'target_runs', 'crr', 'rrr']]
    
    probabilities = model.predict_proba(features)
    
    over_summary['lose'] = (probabilities[:, 0] * 100).round(1)
    over_summary['win'] = (probabilities[:, 1] * 100).round(1)
    over_summary['runs_after_over'] = over_summary['current_runs']
    over_summary['wickets_in_over'] = over_summary['wickets_left'].diff().fillna(0).abs().astype(int)
    
    return over_summary[['over', 'runs_after_over', 'wickets_in_over', 'lose', 'win']]

In [23]:
# Try a match where you know the names might be old
match_result_table = get_progression_table(sample_match_id, delivery_df, pipe_lr)
match_result_table

     over  runs_after_over  wickets_in_over   lose  win
130     0                4                0   93.8  6.2
136     1                9                1   96.6  3.4
143     2               12                1   98.4  1.6
149     3               16                0   98.5  1.5
155     4               24                1   99.0  1.0
161     5               26                1   99.6  0.4
169     6               33                0   99.5  0.5
175     7               38                1   99.7  0.3
183     8               43                2   99.9  0.1
190     9               51                0   99.9  0.1
196    10               56                0   99.9  0.1
202    11               59                1  100.0  0.0
209    12               70                0   99.9  0.1
215    13               77                1  100.0  0.0
222    14               81                0  100.0  0.0
224    15               82                1  100.0  0.0